
<ion-button aria-label="Logged User" shape="round" id="click-trigger">
  <ion-icon slot="icon-only" name="person-outline" aria-hidden="true"></ion-icon>
</ion-button>

<ion-popover #loggedUserPopOver trigger="click-trigger" triggerAction="click">

  <ng-template>

    <ion-content class="ion-padding">

      <ion-grid *ngIf="(authenticatedUser$ | async) as authenticatedUser">

        <ion-row>
          <ion-label>{{ authenticatedUser.firstName }} {{ authenticatedUser.lastName }}</ion-label>
        </ion-row>

        <ion-row>
          <ion-label>{{ userRole }}</ion-label>
        </ion-row>

        <ion-row>
          <ion-button aria-label="Logout" shape="round" (click)="logout()">
            <ion-icon name="log-out-outline" aria-hidden="true"></ion-icon>
             Logout
          </ion-button>
        </ion-row>

      </ion-grid>

    </ion-content>

  </ng-template>

</ion-popover>
