<!--<ng-container *ngIf="authenticationState$ | async as state; else error">
  <div *ngIf="state.isAuthenticated; else notLoggedIn">
    <p-button icon="pi pi-user" styleClass="p-button-rounded p-button-outlined" (click)="op.toggle($event)"></p-button>

    <p-overlayPanel #op>
      <ng-template pTemplate="content">
        <p-card header="{{ state.authenticatedUser?.firstName }} {{ state.authenticatedUser?.lastName }}" subheader="User" [style]="{ width: '360px' }">
          <ng-template pTemplate="footer">
            <p-button label="Log-out" icon="pi pi-sign-out" styleClass="p-button-secondary" (click)="logout()"></p-button>
          </ng-template>
        </p-card>
      </ng-template>
    </p-overlayPanel>
  </div>

  <ng-template #notLoggedIn>
    <p>User not logged in.</p>
  </ng-template>
</ng-container>

<ng-template #error>
  <p>An error ocurred trying to restore logged in user.</p>
</ng-template>-->

<ion-icon name="heart"></ion-icon>
