header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.user-profile {
  margin-left: auto;
}

nav {
  padding: 10px 0;
  background-color: #f5f5f5;
}

main {
  padding: 20px;
}

footer {
  background-color: #f5f5f5;
  padding: 10px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .footer-content span {
    font-size: 14px;
  }

.container {
  margin: 20px 0;
}
