<!--<div class="login-container">
  <div class="logo">
    <img src="assets/logo2.png" alt="Logo">
  </div>
  <div class="login-content">
    <h2>Login</h2>
    <form (ngSubmit)="loginForm.valid && login()" #loginForm="ngForm" class="login-form">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" pInputText required>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" pPassword required>
      </div>

      <button type="submit" pButton class="login-button">Login</button>
    </form>
  </div>
</div>-->

<div class="card flex flex-wrap justify-content-center gap-3">

  <div class="flex flex-column logo">
    <img src="assets/logo2.png" alt="Logo">
  </div>

  <form id="loginForm">

    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-user"></i>
      </span>
      <input pInputText placeholder="E-Mail" [(ngModel)]="email" />
    </div>

    <div class="flex flex-column">
      <p-password [(ngModel)]="email" [toggleMask]="true" placeholder="Password"></p-password>
    </div>

    <div class="flex flex-column">
      <button pButton type="button" label="Login" (click)="login()" ></button>
    </div>
  </form>

</div>
